.header{
  background-color: var(--secondary-header-color);
  position: fixed;
  z-index: 25;
  top: 0;
  left: 0;
  width: 100%;
}

.header-nav{
  padding: 2rem 1rem;
}

.header-nav__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding: var(--padding-container);
}

.header-nav__link-logo-container{
  display: flex;
  width: 128px;
  height: 32px;
}

.header-nav__link-logo{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.header-nav__menu-label {
  font-size: 1.5rem;
  cursor: pointer;
  transition: var(--primary-all-transitions);
}

.header-nav__menu-checkbox {
  display: none;
}

.header-nav__menu-checkbox:checked+.header-nav__menu-list {
  opacity: 1;
  pointer-events: auto;
}

.header-nav__menu-list{
  position: fixed;
  top: 6rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-theme-color);
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: opacity 0.25s;
}

.header-nav__menu-item{
  display: flex;
}

.header-nav__menu-link{
  position: relative;
  text-decoration: none;
  font-weight: 600;
  transition: var(--primary-all-transitions);
  color: #212832;
}

.header-nav__menu-link--active,
.header-nav__menu-link:hover {
  color: var(--secondary-theme-color);
}

.header-nav__menu-link--active {
  border: 1.5px solid var(--secondary-theme-color);
  padding: 0.3rem 0.8rem;
  border-radius: 1rem;
  transition: var(--primary-all-transitions);
}

.header-nav__menu-link--active:hover {
  background-color:  var(--secondary-theme-color);
  color: #fff;
}

@media (min-width: 854px) {
  .header-nav__menu-label {
    display: none;
  }

  .header-nav__menu-list {
    position: static;
    background-color: transparent;
    opacity: 1;
    pointer-events: auto;
    flex-direction: row;
    gap: 2rem;
  }
}