@import './variables.css';

.body{
  background-color: #fff;
  min-height: 100vh;
  margin: 0;
  font-family: var(--secondary-font-family);
  overflow-x: hidden;
  
}

.header{
  background-color: var(--primary-header-color);
  position: fixed;
  z-index: 25;
  top: 0;
  left: 0;
  width: 100%;
}

.header-nav{
  padding: 2rem 1rem;
}

.header-nav__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding: var(--padding-container);
}

.header-nav__link-logo-container{
  display: flex;
  width: 128px;
  height: 32px;
}

.header-nav__link-logo{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.header-nav__menu-label {
  font-size: 1.5rem;
  cursor: pointer;
  transition: var(--primary-all-transitions);
}

.header-nav__menu-checkbox {
  display: none;
}

.header-nav__menu-checkbox:checked+.header-nav__menu-list {
  opacity: 1;
  pointer-events: auto;
}

.header-nav__menu-list{
  position: fixed;
  top: 6rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-theme-color);
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: opacity 0.25s;
}

.header-nav__menu-item{
  display: flex;
}

.header-nav__menu-link{
  position: relative;
  text-decoration: none;
  font-weight: 600;
  transition: var(--primary-all-transitions);
  color: #212832;
}

.header-nav__menu-link--active,
.header-nav__menu-link:hover {
  color: var(--secondary-theme-color);
}

.header-nav__menu-link--active {
  border: 1.5px solid var(--secondary-theme-color);
  padding: 0.3rem 0.8rem;
  border-radius: 1rem;
  transition: var(--primary-all-transitions);
}

.header-nav__menu-link--active:hover {
  background-color:  var(--secondary-theme-color);
  color: #fff;
}

@media (min-width: 854px) {
  .header-nav__menu-label {
    display: none;
  }

  .header-nav__menu-list {
    position: static;
    background-color: transparent;
    opacity: 1;
    pointer-events: auto;
    flex-direction: row;
    gap: 2rem;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/hero-bg.svg');
  background-position: center;
  min-height: 100vh;
  background-size: cover;
}
.hero__container {
  display: grid;
  max-width: 1024px;
  justify-items: center;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  padding: 1rem 0;
}

.hero__info-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
}

.hero__info-title {
  font-size: 2.3rem;
  margin: 0;
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
}
.hero__info-subtitle {
  font-size: 1.2rem;
  margin: 0;
  color: var(--secondary-theme-color);
  font-weight: 800;
}
.hero__info-paragraph {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  display: none;
}

.hero__info-link {
  background-color: var(--primary-theme-color);
  align-self: center;
  border-radius: 5rem;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  font-weight: 600;
  color: var(--primary-text-color);
  box-shadow: 0 1.25rem 2.1875rem 0 rgb(241 165 1 / 15%);
  -webkit-box-shadow: 0 1.25rem 2.1875rem 0 rgb(241 165 1 / 15%);
  text-transform: uppercase;
  transition: var(--primary-all-transitions);
}

.hero__info-link:hover {
  background-color: var(--primary-button-color-hover);
}

.hero__img-container {
  position: relative;
  width: 300px;
  height: 300px;
}

.hero__img-tourist {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
}


.service__container { 
padding: var(--padding-section-container);
}

.service__info-container{
text-align: center;
}

.service__info-subtitle { 
  color:var(--secondary-text-color) ;
  font-size: var(--primary-font-size-info-subtitle);
  margin: 0;
}

.service__info-title {
  font-family: var(--primary-font-family);
  margin: 0;
  color: var(--primary-text-color);
  font-size: var(--primary-font-size-info-title);
  width: 100%;
}

.service__card {
  max-width: 1024px ;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:auto;
  padding: 2rem;
}

.service__card-container{
  gap: 1rem;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
  text-align: center;
  border-radius: var(--border-radius-box);
  margin: 0;
  padding: 2rem;
  transition: var(--primary-all-transitions);
}

.service__card-container:hover {
  box-shadow: var(--primary-box-shadow);
}

.service__card-title {
margin: 0;

}

.service__card-paragraph {
  margin: 0;
}


.destination__container {
  padding: var(--padding-section-container);
}

.destination__info-container{
  text-align: center;
}

.destination__info-subtitle{
  color:var(--secondary-text-color) ;
  font-size: var(--primary-font-size-info-subtitle);
  margin: 0;
}

.destination__info-title{
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  font-size: var(--primary-font-size-info-title);
  width: 100%;
  margin: 0;
}

.destination__card{
  max-width: var(--max-width-container);
  display:flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1.5rem;
  box-sizing: border-box;
}

.destination__card-container{
  gap: 1rem;
  max-width: 270px;
  overflow: hidden;
  display: flex; 
  flex-direction: column;
  align-items:center;
  text-align: center;
  margin: 0;  
  border-radius: var(--border-radius-box);
  box-shadow: var(--primary-box-shadow);   
  background-color: #fff;
  transition: var(--primary-all-transitions);
}

.destination__card-container:hover {
  transform: scale(1.02);
}

.destination-img {
  width: 350px;
  height: 230px;
}

.destination__card-info{
  margin: 0;
  cursor: pointer;
}

.destination__card-place{
  cursor: pointer;
  transition: var(--primary-all-transitions);
}

.destination__card-place:hover {
  color: var(--primary-theme-color);
}


.destination__card-price{
  color: var(--primary-text-color);
  cursor: pointer;
}

.destination__card-days{
  padding-bottom: 1.5rem;
  margin: 0;
}

.destination__card-days-n{
  margin: 0;
}



@media (min-width: 854px) {
  .hero__container {
    grid-template-columns: 1fr 1fr;
  }
  .hero__info-container {
    text-align: left;
  }
  .hero__info-paragraph {
    display: block;
  }
  .hero__info-title {
    font-size: 2.5rem;
  }
  .hero__info-subtitle {
    font-size: 1.15rem;
  }
  .hero__img-container {
    width: 500px;
    height: 500px;
  }
  
  .hero__img-tourist {
    width: 500px;
    height: 500px;
  }
  .hero__info-link-container {
    margin: 1rem 0;
  }
  .header{
    background-color: var(--secondary-header-color);
  }
}

.subscribe__container{
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgba(223, 215, 249, 0.237);
  border-radius: 129px 20px 20px 20px;
  padding: 5rem 5rem;  
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  
}

.subscribe__container h2{
  color: var(--tertiary-theme-color);
}

.subscribe__container-email{  
  border-radius: 5rem;
  background-color: #fff;
  color: var(--secondary-text-color);
  padding: 1rem 1rem 1rem 2rem;
  border: none;
  font-size: 1rem;
  outline: none;
}
.subscribe__container-button{
  margin-top: 1rem;
  border-radius: 5rem;
  color: #fff;
  border: none;
  background-color: var(--secondary-theme-color);
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1rem;
  transition: var(--primary-all-transitions);
}
.subscribe__container-button:hover{
  background-color: var(--secondary-theme-color-shadow);
}
footer{
  width: 100%;
  padding: 50px 0px;
}
.footer__supercontainer{
  max-width: var(--max-width-container);
  position: relative; 
  margin: 0 auto;
  padding-left: 1rem; 
  color: var(--primary-text-color);
}
.footer__container{
  display: flex;
  flex-direction: column;
  margin: auto;   
  gap: 1rem; 
}

.footer__container-box1 a{
  margin-right: 1.8rem;
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 1.8rem;
  transition: var(--primary-all-transitions);
}

.footer__container-box1 a:hover{
  color: var(--secondary-theme-color);
}

.footer__container-box1 p{
  max-width: 200px;
  margin-top: 1.8rem;
}
.footer__container-box1 img{
  margin-top: 1.3rem;
}
.footer__container-box2 ul{
  list-style: none;
  padding-left: 0;  
}
.footer__container-box2 li{
  padding-top: 22px;
}
.footer__container-box2 a{
  text-decoration: none;
  color: black;
  transition: var(--primary-all-transitions);   
}
.footer__container-box2 a:hover{
  color: orange;   
  
}
.footer__container-box h4{
  font-weight: 700;
  font-size: 20px;
}
.footer__container-box3{
  display: flex;
  flex-direction: row;  
  align-items: center;
}
.footer__container-box4{
  margin-top: 3rem;
  text-align: center;
  width: 100%;
}

@media (min-width: 854px) {

  .footer__container {
    flex-direction: row;
    justify-content: center;
    align-items: center;    
  }  

  .footer__container-box2{  
    padding: 2rem;    
  }
}




