@import './variables.css';
@import './header.css';
@import './hero.css';
@import './service.css';
@import './destination.css';
@import './footer.css';
@import './subscribe.css';
@import './testimonials.css';
@import './booking.css';

.body{
  background-color: #fff;
  min-height: 100vh;
  margin: 0;
  font-family: var(--secondary-font-family);
  overflow-x: hidden;  
}

.main {
  margin-top: 5rem;
}

@media (min-width: 854px) {
  .main {
    margin-top: 0;
  }
}
  
  