:root {
  scroll-behavior: smooth;
  --primary-theme-color: #ffc300;
  --secondary-theme-color: #c70039;
  --tertiary-theme-color: #581845;
  --primary-text-color: #212832; 
  --secondary-text-color: #4f425b;
  --secondary-theme-color-shadow: #aa0b38; 
  --primary-button-color-hover: #f1a604;
  --primary-header-color: rgba(255, 255, 255, 0.678);
  --secondary-header-color: rgba(255, 232, 182, 0.577);
  --max-width-container: 1024px;
  --primary-font-family: 'Secular One', sans-serif;
  --secondary-font-family: 'Open Sans', sans-serif;
  --padding-container: 0 1rem;
  --primary-all-transitions: all 0.25s ease-in-out;
}